.skip {
	color: blue;
}
.wait {
	color: orange;
}
.running {
	color: orange;
	font-weight: bold;
}
.pass {
	color: green;
}
.fail {
	color: red;
}
.fail-message {}
.run {
	margin-right: 5px;
}
#controls {
  position: fixed;
  top: 30px;
  right: 50px;
}
#buttons {
	margin-bottom: 20px;
}
#loadSnapshot {
	anchor-name: --loadSnapshot;
}
#snapshotInterestButton {
	border: none;
	border-radius: 50%;
	background: transparent;
	cursor: pointer;
}
#snapshotInterestButton::after {
	content: '\24D8';
}
#snapshotInterestButton:hover:not(:active) {
	opacity: 75%;
}
#snapshotInterestButton:active {
	background-color: color-mix(in lab, currentColor 5%, transparent);
}
#latestSnapshotPopover {
	position-anchor: --loadSnapshot;
	position-area: top;
	border-width: 1px;
	padding: 3px 1ex;
	background: cornsilk;
	font-size: small;
}
#loadStatus {
	padding-left: 10px;
}
#loadFraction {
	font-family: monospace;
	display: inline-block;
}
body {
	font-size: medium;
}
li {
	margin-bottom: 2px;
	margin-top: 2px;
}
#tree li:hover {
	outline: thin dotted grey;
}
