.skip {
	color: blue;
}
.wait {
	color: orange;
}
.running {
	color: orange;
	font-weight: bold;
}
.pass {
	color: green;
}
.fail {
	color: red;
}
.fail-message {}
.run {
	margin-right: 5px;
}
#controls {
  position: fixed;
  top: 30px;
  right: 50px;
}
#buttons {
	margin-bottom: 20px;
}
#loadStatus {
	padding-left: 10px;
}
#loadFraction {
	font-family: monospace;
	display: inline-block;
}
body {
	font-size: medium;
}
li {
	margin-bottom: 2px;
	margin-top: 2px;
}
#tree li:hover {
	outline: thin dotted grey;
}
