.skip {
	color: blue;
}
.wait {
	color: orange;
}
.running {
	color: orange;
	font-weight: bold;
}
.pass {
	color: green;
}
.fail {
	color: red;
}
.fail-message {}
#controls {
  position: fixed;
  top: 30px;
  right: 50px;
}
#loadStatus {
	padding-left: 10px;
}
body {
	font-size: medium;
}
li {
	margin-bottom: 2px;
	margin-top: 2px;
}
